body {background-color:black;font-family:arial;color:white}

h1{
    color:grey;
    font-family:verdana;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.maindiv {
    background-color: white;
    color:black;
    width: 450px;
    height: 350px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

input[type=number] {
    margin-left: 50px;
}

input[type=range] {
    margin-left: 15px;
}

select{
    margin-left: 25px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    margin-top: 20px;
}

